@layer base, default, reset;

@import "./styles/reset.css" layer(reset);
@import "./styles/variables.css" layer(base);
@import "./styles/fonts.css" layer(base);

@layer default {
  html {
    font-size: var(--text-base);
    font-family: var(--font-sans);
    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
  }
}
